

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
   }
   body{
    background-color: rgb(255, 255, 255);
   }
   .logo{
       text-align: center;
        
   }
  p{
     margin-top: 30px;
     text-align: center;
     color: darkslategray;
     font-family: 'Cousine', monospace;
        
   }
   hr{
       margin-top: 20px;
       margin-left: 480px;
       height: 5px;
       width: 400px;
       border-color: #BC0202;
       background-color: #BC0202; 
   }
   .email{
    text-align: center;
    margin-left: 550px;
    margin-top: 10px;
    width: 20%;
    padding: 12px 60px;
    border-color: #BC0202;
}
   
.password{
    text-align: center;
    margin-left: 550px;
    margin-top: 30px;
    width: 20%;
    padding: 12px 60px;
    border-color: #BC0202;

}
.btn-login{
    padding: 10px 40px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 680px;
    margin-right: 490px;
    background-color: rgb(188, 2, 2);
    color: white;
    text-align: center;
    font-family: 'Cousine', monospace;
    font-size: 18px;
    border-radius: 10px;
     
}

   .btn-google-login{
       text-align: center;
    background-color: rgba(188, 2, 2, 0.562);
    color: white;
    padding: 12px 50px;
    margin-top: 10px;
    margin-left: 550px;
    margin-right: 450px;
    text-align: center;
    font-family: 'Cousine', monospace;
    font-size: 18px;
    
    }
    .btn-register{
        text-align: center;
        background-color: #BC0202;
        color: white;
        padding: 12px 60px;
        border-radius: 10px;
        margin-bottom: 50px;   
        margin-left: 520px;
        margin-right: 500px;
        text-align: center;
    font-family: 'Cousine', monospace;
    font-size: 20px;
    }
    


 
   /* Mobile Styles */
   @media only screen and (max-width: 400px) {
    .logo{
        width: auto;
        height: 10vh;   
    }
    p{
        margin-top: 10px;
        text-align: center;
        color: #BC0202;
        font-family: 'Cousine', monospace;
           
      }
    .penter{
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
    font-size: 26px;
    }
    
   }
   
   /* Tablet Styles */
   @media only screen and (min-width: 401px) and (max-width: 960px) {
    .logoimg{
        width: auto;
        height: 30vh;
    }
    .subtitulo{
        font-size: 20px;
    }
    .penter{
        padding: 30px;
        margin-top: 50px;
        margin-bottom: 100px;
        margin-left: 150px;
        margin-right: 150px;
        border-radius: 20px;
        font-size: 26px;
        }
   }
   
   /* Desktop Styles */
   @media only screen and (min-width: 961px) {
    .logoimg{
        width: auto;
        height: 50vh;
    }
    .subtitulo{
        font-size: 30px;
    }
    
   }