@import url('https://fonts.googleapis.com/css?family=Archivo:400,400i,600&display=swap');

*{
    font-family: 'Archivo';
    font-weight: 400;
}

body {
    background-color: #F5F5F5;
}


.container-col,.container-col-center,.center-col,.left-col,.col-inputs,.col-main-75,.post-container,.col-btn-post-icons,.col-btn-likes,.left-col-likes,.center-col-likes{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.col-btn-post-icons{
   
    margin-top:10px;
    width: 100%;
    align-items: flex-end;
    flex-wrap: wrap;
}
.center-col-likes{
    
     align-items: stretch;
}

.left-col-likes{
    width:10%;
    align-items: stretch;
}
.center-col{
    width:100%;
}
.left-col{
    align-items: flex-start;
}
.col-inputs{
    width: 80%;
    align-items: stretch;
}
.col-main-75{
    width: 75%;
    align-items: stretch;
    
}
.hr-post{
    display: flex;
    flex-direction:row;
}
textarea { 
    resize: none; 
    height: auto;
}

.row-btn-signin,.row-btn-google,.row-create-account,.row-btn-back,.nav-wall,.elements-row,.nav-wall,.container-row-nav,.icons-row,.row-post,.row-btn-post{
    display: flex;
    flex-direction:row;
    align-self: flex-end;
    width: 50%;
}
.icons-row,.row-btn-post{
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.row-btn-post{
    border-top: 1px solid rgb(199, 199, 199);
}

.container-row-nav{
    width:100%;
    background-color: #BC0202;
    margin-bottom: 2%;
    
}
.nav-wall{
    align-items: flex-end;
    width:60%;
    flex-wrap: wrap;
}
.elements-row{
    justify-content: space-between;
}
.row-btn-google{
    width:100%;
    align-self: center;
}
.row-btn-back,.row-post{
    align-self: flex-start;
    width:40%;
}
.row-post{
margin-top: 5px;
}
.row-create-account{
    width:80%;
    align-self: center;
}


.logo {
    width: auto;
    height: 30vh;
}
.logo-icon{
    width: auto;
    height:8vh;
    margin:20px 30px 20px 20px;  
}
.btn-icons{
    width: auto;
    height:8vh;
    margin:20px;
}
.hr-home-top, .hr-home-bot {
    height: 3px;
    color: #BC0202;
    background-color: #BC0202;
    border: none;
    text-align: center;
    -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.4);
}
.hr-home-top{
    margin-bottom: 15px;
}
.subtitle, .subtitle-register,.p-register {
    font-style: italic;
    font-weight: 400;
    color: black;
    font-size: 15px;
    text-align: center;
}

.input-signin,.input-register,#text-stage-direction,#text-post{
    padding: 4% 0 4% 0.5em;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: left;
    border: 1px solid #BC0202;
    font-size:18px;
    -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.4);
  }

.p-error,.p-error-fb{
    color: #BC0202;
    font-size: 15px;
    margin:0;
    align-self: flex-start;
}
.p-error-fb{
    align-self: center;
}

.btn-google-login, .btn-register,.btn-create-account,.btn-back,.btn-signin,#btn-signout,.btn-post {
    width:100%;
    text-align: center;
    cursor: pointer;
    color: white;
    padding: 10px 50px;
    border: 30px;
    font-size: 15px;
    margin-bottom: 10px;
    background: url('img/icon_google.png') 15px 6px no-repeat;
    background-size: 25px;
    background-color: #CF4332;
}
.btn-register,.btn-create-account,.btn-back,.btn-signin,.btn-post{
    background:none;
    background-color: #BC0202;
    border-radius: 10px;
    padding: 10px 0;
}
.btn-post{
    width:10%;
    margin: 0;
}
.btn-signin{
    margin: 10px auto 40px auto;
    width: 100%;
    padding: 10px 0;
}
.btn-create-account{
    margin-top:15px;
}
.btn-back{
    margin-top: 5px;
}
.btn-google-login:hover{
    background-color: rgb(240, 93, 76)
}
.btn-register:hover,.btn-create-account:hover,.btn-back:hover,.btn-signin:hover{
    background-color: rgb(216, 22, 22);
}
.icon-btn{
    background: transparent;
    border: none;
    cursor:pointer;
}
.btn-delete-icon{
    width: auto;
    height:3vh;
}
.post-container{
    border-bottom: 2px solid #BC0202;
    width: 100%;
    align-items: stretch;
}

.post-date,.post-age-location{
    font-size: 14px;
    color: rgb(90, 89, 89);
    font-style: italic;
    margin-bottom: 10px;
    display:inline-block; 
}
.post-age-location{
    margin:20px 10px 10px 0;
    text-align:right;
    display:block;  
}

.btn-dis-like-icon{
    height: 4vh;
    width: auto;
}
.post-read{
    word-wrap: break-word;
}


/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .btn-icons{
        height:4vh;
        margin:10px;
    }
    .logo-icon{
      
        height:4vh;
        margin:10px 20px 10px 10px;  
    }
    .logo{
        height: 25vh;
    }
    .post-date,.post-age-location{
        font-size: 15px;
        text-align:left;
        display:inline-block;
    }
    .btn-post{
        width:20%;
    }

    .post-age-location{
        margin-top:0px;
      
    }
   }
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 767px) {
    .btn-icons{
        height:5vh;
        margin:10px;
    }
    .logo-icon{
       
        height:5vh;
        margin:10px 20px 10px 10px;  
    }

    .btn-post{
        width:20%;
    }
  
   }

/* Desktop Styles */
@media only screen and (min-width: 700px) {
    .col-inputs{
        width: 40%;
        
    }
    .row-create-account{
        width: 40%;
    }
    .input-signin, .input-register,#text-stage-direction,#text-post {
        padding: 2% 0 2% 0.5em; 

}

}